<!DOCTYPE html>
<html>
  <head>
    <title>Oasis</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
		@import url('https://fonts.googleapis.com/css?family=Bitter');
		.navbar-fixed-top {
			min-height: 80px;
		}

		.navbar-nav > li > a {
			padding-top: 0px;
			padding-bottom: 0px;
			line-height: 60px;
		}

		@media (max-width: 767px) {
			.navbar-nav > li > a {
			line-height: 20px;
			padding-top: 10px;
			padding-bottom: 10px;}
		}
		.active_crespoter
		{
			font-family: 'Bitter', serif;
			font-size:1.5em;
			background-color:white;  
			color:#dd1021;
		}
		.find_rest
		{
			font-family: 'Bitter', serif;
			font-size:1.5em;  
			color:white;
		}
		body
		{
			background: url("http://www.terrapatria.org/p/2018/02/restaurant-background-restaurant-background-template-vector-free-in-food-menu-background-hd.jpg");
			height: 100%;
			margin: 0;
			padding: 0;
			color:white;
			overflow:hidden;
		}
		html
		{
			margin: 0;
			padding: 0;
		}
		#map
		{
			height:75%;
		}
		.selected
		{
			background-color:white;
			color:#dd1021;
		}
		.hidden
		{
			display:hidden;
		}
		.city-select
		{
			cursor:pointer;
		}
		.filter-select
		{
			cursor:pointer;
		}
	</style>
   	<script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous"></script>
    <script>
	  var map;
      var infowindow;
      function initMap() {
        var pyrmont = {lat: 42.375, lng: -71.1};
        map = new google.maps.Map(document.getElementById('map'), {
          center: pyrmont,
          zoom: 12
        });

        infowindow = new google.maps.InfoWindow();


	  }
	  
      function createMarker(location,name) {
        var placeLoc = location;
        var marker = new google.maps.Marker({
          map: map,
          position: location
        });
        google.maps.event.addListener(marker, 'click', function() {
          infowindow.setContent(name);
          infowindow.open(map, this);
        });
      }
    </script>
  </head>
  <body>
	<div class="modal fade" id="myModal" role="dialog">
		<div class="modal-dialog">
		  <div class="modal-content">
			<div class="modal-header">
			  <button type="button" class="close" data-dismiss="modal">&times;</button>
			  <h4 style="color:red;"><span class="glyphicon glyphicon-lock"></span> Login</h4>
			</div>
			<div class="modal-body">
			  <form action="/login" method="post">
				<div class="form-group">
				  <label for="username"><span class="glyphicon glyphicon-user"></span>Email : </label>
				  <input type="email" class="form-control" id="username" placeholder="Enter Email" name="email">
				</div>
				<div class="form-group">
				  <label for="password"><span class="glyphicon glyphicon-eye-open"></span>Password</label>
				  <input type="password" class="form-control" id="password" placeholder="Enter Password" name="password">
				</div>
				<button type="submit" class="btn btn-default btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Login </button>
			  </form>
			</div>
			<div class="modal-footer">
			  <button type="submit" class="btn btn-default btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
			  <p>Not a member? <a href="/signup">Sign Up</a></p>
			</div>
		  </div>
		</div>
	</div>

	
	<nav class = "navbar navbar-default" role = "navigation" style = "background-color:#dd1021;"> 
	   <div class = "navbar-header">
		  <button type = "button" class = "navbar-toggle" 
			 data-toggle = "collapse" data-target = "#navbar-collapse">
			 <span class = "sr-only">Toggle navigation</span>
			 <span class = "icon-bar" style="background-color:white"></span>
			 <span class = "icon-bar" style="background-color:white"></span>
			 <span class = "icon-bar" style="background-color:white"></span>
		  </button>
		
		  <a class = "navbar-brand" href = "/" style="font-family: 'Dancing Script', cursive;font-size:4em;color:#eeee00">Oasis</a>
	   </div>
   
	   <div class = "collapse navbar-collapse" id = "navbar-collapse">
			<ul class = "nav navbar-nav">
			<li class = "find_rest" ><a href = "/" style="color:white;">Home</a></li>

			<li class="active active_crespoter"><a href = "/findRestaurant"  style="background-color:white;color:#dd1021">Find Restaurants</a></li>
		  </ul>
		   <% if(!registered){ %>
			  <ul class = "nav navbar-nav navbar-right">
					<li class="find_rest"><a style="color:white;cursor: pointer;" data-toggle="modal" data-target="#myModal">Log In<span class="glyphicon glyphicon-user"></span></a></li>
			  </ul>
		  <% }else{ %>
				<ul class = "nav navbar-nav navbar-right">
					<li class="find_rest"><a style="color:white;cursor: pointer;" href="/logout">Log Out<span class="glyphicon glyphicon-user"></span></a></li>
			  </ul
		  <% } %>
	   </div>
   
	</nav>
	
	<div class="row">
 		<div id="filter" class="col-md-3">
			<table class="table table-bordered table-responsive city-table" style=";margin-top:10%;background-color:#dd1021">
				
					
				<tr>
					<th>Select your City:</th>
				</tr>
				<% for(var i=0;i<cities.length;i++) { %>
					<tr>
						<td class="city-select"><%= cities[i].name %></td>
					</tr>				
				<% } %>
			</table>
			<br />
			<table class="table table-bordered table-responsive" style=";background-color:#dd1021">
				<tr>
					<th>Filter:</th>
				</tr>
				<tr>
					<td class="filter-select selected">None</td>
				</tr>
				<tr>
					<td class="filter-select">Classic</td>
				</tr>
				<tr>
					<td class="filter-select">Fast Food</td>
				</tr>
				<tr>
					<td class="filter-select">Regional Specials</td>
				</tr>
				<tr>
					<td class="filter-select">Luxury</td>
				</tr>
			</table>
		</div>
		<div class="search col-md-2 hidden">

				<input type="search" class="form-control search-input" placeholder="Search..." style="margin-top:10%"/>
			<table class = "table table-responsive table-restaurants" style="height:60vh;overflow-y:scroll;display:block;background-color:#dd1021;">	
			</table>
		</div>
		<div id="map" class="col-md-6 hidden" style="height:75vh;"></div>
	</div>
	<i class="fa fa-spinner fa-spin spinner hidden" style="font-size:6em;margin-left:20%;color:red"></i>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAN4aYfGdzcAtSTNQ3ccx0Wf7iyzuIhXeA&libraries=places&callback=initMap"  defer></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script>

	$(document).ready(function(){
        var infowindow = new google.maps.InfoWindow();
		
		var markers = [];

		function createMarker(location,name) {
			var placeLoc = location;
			var marker = new google.maps.Marker({
			  map: map,
			  position: location
			});
			google.maps.event.addListener(marker, 'click', function() {
			  infowindow.setContent("<p style='color:black'>" + name + "</p>");
			  infowindow.open(map, this);
			});
			markers.push(marker);
		}

		var type = "None";
		var city = "";
		var searchString = "";
		$(".city-select").click(function(){
			$(".spinner").removeClass("hidden");
			for(var i=0;i<markers.length;i++)
			{
				markers[i].setMap(null);
				
			}
			markers = [];
			$(".hidden").removeClass("hidden");
			$(".city-select").removeClass("selected");
			$(this).addClass("selected");
			city = $(this).text();
			$.getJSON("/api/findCity?city="+city,function(data){
				map.setCenter({"lat": parseFloat(data.lat) ,"lng": parseFloat(data.lng)});
				var parameters = {city:city,type:type};
				if(searchString.length > 0)
					parameters.search = searchString;
				$.getJSON("/api/findrestaurants",parameters,(data)=>{
					$(".table-restaurants tr").remove();
					for(var i=0;i<data.length;i++)
					{
						$('.table-restaurants').append('<tr><td><a href="/restaurant?id='+data[i]["_id"]+'" style="text-decoration:none;color:white;">'+data[i].name + '</a></td></tr>');
						createMarker( {lat: parseFloat(data[i].lat),lng : parseFloat(data[i].lng)},data[i].name);
					}
					$(".spinner").addClass("hidden");
				});
			});
		});

		$(".filter-select").click(function(){
			
			for(var i=0;i<markers.length;i++)
			{
				markers[i].setMap(null);
			}
			markers = [];
			$(".filter-select").removeClass("selected");
			$(this).addClass("selected");
			type = $(this).text();
			
			if(city.length > 0)
			{
				$(".spinner").removeClass("hidden");
				var parameters = {city:city,type:type};
				if(searchString.length > 0)
					parameters.search = searchString;
				$.getJSON("/api/findrestaurants",parameters,(data)=>{
					$(".table-restaurants tr").remove();
					for(var i=0;i<data.length;i++)
					{
						$('.table-restaurants').append('<tr><td><a href="/restaurant?id='+data[i]["_id"]+'" style="text-decoration:none;color:white;">'+data[i].name + '</a></td></tr>');
						createMarker( {lat: parseFloat(data[i].lat),lng : parseFloat(data[i].lng)},data[i].name);
					}
					$(".spinner").addClass("hidden");
				});
			}
		});
		$(".search-input").keyup(function(){
			$(".spinner").removeClass("hidden");
			for(var i=0;i<markers.length;i++)
			{
				markers[i].setMap(null);
			}
			markers = [];
			searchString = $(this).val();
			console.log(searchString);
			if(city.length > 0)
			{
				var parameters = {city:city,type:type};
				if(searchString.length > 0)
					parameters.search = searchString;
				$.getJSON("/api/findrestaurants",parameters,(data)=>{
					$(".spinner").addClass("hidden");
					$(".table-restaurants tr").remove();
					for(var i=0;i<data.length;i++)
					{
						$('.table-restaurants').append('<tr><td><a href="/restaurant?id='+data[i]["_id"]+'" style="text-decoration:none;color:white;">'+data[i].name + '</a></td></tr>');
						createMarker( {lat: parseFloat(data[i].lat),lng : parseFloat(data[i].lng)},data[i].name);
					}
				});
			}
		});
	});
	</script>
  </body>
</html>